.studentdb-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
    overflow: hidden;
    @media (max-width:950px){
      min-height: 100vh;
    }  

.studentdb-name{
    color: #1D0C43;
    font-size: 1.5rem;
    padding: 1%;
    padding-top: 4%;
    width: 85vw;
  @media (max-width:950px){
    margin-top: 5vh;
    font-size: 1.4rem;
  }
}
.studentdb-data{
    backdrop-filter: blur(5px) saturate(150%);
    background-color: rgba(247, 244, 244, 0.4);
    border-radius: 25px;
    border: 0.53px solid  rgba(247, 244, 244, 0.4);
    padding: 2%;
    padding-bottom: 1%;
    padding-top: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
@media (max-width:950px){
  display: none;
}
    .sdb-d-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
        padding: 1%;
        width: 85vw;
  button{
      height: 6vh;
      width: 8vw;
      font-size: 13px;
      border-radius: 12px;
    background: #E8EBEE 0% 0% no-repeat padding-box;
    box-shadow: -4.5px -4.5px 5px #FFFFFF;
border: 1px solid #E8EBEE;
  }
    }
    .sdb-d-content{
        height: 59vh;
        width: 90vw;
        padding: 2%;
        backdrop-filter: blur(5px) saturate(150%);        
        border-radius: 18px;
        border: 0.53px solid  rgba(122, 121, 121, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow:auto;
        overflow-x: hidden;
    }
}
.studentdb-data-mobile{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  visibility: hidden;
  overflow: auto;
  margin-top: 2vh;
  @media (max-width:950px){
    visibility: visible;
  }
}
}



  ::-webkit-scrollbar {
      width: 12px;
    }
    ::-webkit-scrollbar-thumb {
      border: 0.9747881293296814px solid #404F66;
        border-radius: 6px;
        background: #404F66;
    }
    ::-webkit-scrollbar-track { 
      background: transparent linear-gradient(90deg, #E7EBEE4D 59%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
      mix-blend-mode: overlay;
      border: 0.8407000303268433px solid #E3E3E3;
      border-radius: 12px;
    }

