#class{
     display: flex;
     font-family: 'Exo 2', sans-serif;
     margin-top: 20px;
     @media (max-width:1050px){
         flex-direction: column;
     }
     .class_section-1{
         
         width: 75vw;
         @media (max-width:1050px){
            width: 95vw;
        }
         .class_section-1_h1{
            // border:2px solid blue;
            font-size: 16px;
            color: #2D2D2D;
            padding-left: 40px;
            @media (max-width:400px){
                padding-left: 20px;
            }
        
            
        }
        .class_section-1_h2{
            color: #1D0C43;
            font-size: 35px;
            padding-left: 40px;
            margin-bottom: 15px;
            @media(max-width:400px){
                font-size: 25px;
                padding-left: 20px;
            }
            
        }
        .class_section-1_h3{
            color: #1D0C43;
            font-size: 24px;
            padding-left: 40px;
            margin-bottom: 10px;
            @media(max-width:400px){
                font-size: 28px;
                padding-left: 20px;
            }
            
            
        }
        .class_dashboard{
            height: 400px;
            
            background: #fafafa59 0% 0% no-repeat;
           box-shadow: 0px 0px 24px #00000052;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        overflow: auto;
        @media (max-width:1050px){
            padding: 20px;
            padding-top: 40px;
            height: 500px;
        }
        .class-heading{
            
            display: flex;
            margin: 0px 0px 20px 0px;
            width: 100%;
            
            text-align: center;
            
            :nth-child(2){
            margin-left: 15%;
            
            }
            :nth-child(3){
              margin-left: 55%;
              
            }
            span{
                border:unset;
                font-size: 18px;
                color: #000000;
                
            }

        
        }
        .class-info{
             display: flex;
             border-bottom: 1px solid #707070;
             user-select: none;

             @media (max-width:1050px){
                 border:none;
             }
             
             
             padding: 10px;
             span{
                border:unset;
                font-size: 21px;
                color: #1A273B;
            }
             :nth-child(2){
                
                    
                    color: #7F2490!important;
                
                margin-left: 18.5%;
                cursor: pointer;
                text-decoration: none;
             }
             :nth-child(3){
                margin-left: 35%;
                cursor: pointer;
                
             }
             :nth-child(4){
                margin-left: 20%;
                cursor: pointer;
             }
             
        }
     
        }
     }
     .class_section-2{
         
padding: 20px;
padding-right: 0px;
padding-top: 80px;

         .add{
            width: 200px;
            height: 46.3px;
            margin-bottom: 20px;
            
            background: #e7e7e7 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 25px #02020252;
border-radius: 18px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
user-select: none;
color: black;

         }
         @media (max-width:1050px){
             padding-top: 20px;
         }
         

         }
       
     }





////////////////////////////////  Modals scss goes here
.edit_modal{
    position: absolute;
    left: 5%;
    top: 40%;
    width: 430px;
    z-index: 99;
    padding: 10px;
height: 212px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 14px;
display: flex;
flex-direction: column;
justify-content: space-around;
@media (max-width:500px){
    width: 310px;
}
input{
width: 400px;
height: 50px;
background: #D9DCE2 0% 0% no-repeat padding-box;
border: none;
outline: none;
border-radius: 35px;
padding-left: 25px;
@media (max-width:500px){
    width: 100%;
}
}
button{
width: 200px;
height: 50px;
cursor: pointer;
font-size: 15px;
background: #EDAA79 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 25px #02020252;
border-radius: 34px;
border: none;
@media (max-width:500px){
    width: 100%;
}
}
div{
color: #7A7A7A;
}

}
.success_modal{
    position: absolute;
    left: 60%;
    top: 45%;
    width: 380px;
    z-index: 99;
    padding: 10px;
height: 150px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 14px;
display: flex;
flex-direction: column;
justify-content: center;
   :nth-child(1){
        color: #7A7A7A;
    }
    :nth-child(2){
        color: black;
        margin-top: 20px;
    }
   
}
.add_modal{
    position: absolute;
    left: 5%;
    top: 60%;
    width: 440px;
    z-index: 99;
    padding: 10px;
height: 212px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 14px;
display: flex;
flex-direction: column;
justify-content: space-around;
@media (max-width:500px){
    width: 310px;
}
input{
width: 400px;
height: 50px;
background: #D9DCE2 0% 0% no-repeat padding-box;
border: none;
outline: none;
border-radius: 35px;
padding-left: 25px;
@media (max-width:500px){
    width: 100%;
}
}
button{
width: 200px;
height: 50px;
cursor: pointer;
font-size: 15px;
background: #EDAA79 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 25px #02020252;
border-radius: 34px;
border: none;
@media (max-width:500px){
    width: 100%;
}
}
}
.delete_modal{
    position: absolute;
    left: 60%;
    top: 45%;
    width: 340px;
    z-index: 99;
    padding: 10px;
height: 182px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 14px;
display: flex;
flex-direction: column;
justify-content: space-around;
    :nth-child(1){
        color: #7A7A7A;
    }
    :nth-child(3){
        display: flex;
        justify-content: space-between;
        
        button{
            width: 120px;
            height: 40px;
            cursor: pointer;
            font-size: 15px;
            background: #EDAA79 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 25px #02020252;
            border-radius: 16px;
            border: none;
            color: black;
            }
    }
}
