#devices{
    display: flex;
    font-family: 'Exo 2', sans-serif;
    margin-top: 20px;
    @media (max-width:1050px){
        flex-direction: column;
    }
    .devices_section-1{
        // border: 2px solid red;
        width: 70vw;
     @media (max-width:1050px){
         width: 95vw;
     }
    :nth-child(1){
        // border:2px solid blue;
        font-size: 16px;
        color: #2D2D2D;
        padding-left: 40px;
        @media (max-width:500px){
            padding-left: 10px;
        }
    }
    :nth-child(2){
        color: #1D0C43;
        font-size: 35px;
        padding-left: 40px;
        margin-bottom: 15px;
        @media (max-width:500px){
            padding-left: 10px;
            font-size: 25px;
        }
    }
    :nth-child(3){
        color: #1D0C43;
        font-size: 24px;
        padding-left: 40px;
        margin-bottom: 10px;
        @media (max-width:500px){
            padding-left: 10px;
            font-size: 28px;
        }
        
        

    }
    .device_dashboard{
        height: 400px;
        // border:2px solid pink;
        background: #fafafa59 0% 0% no-repeat;
       box-shadow: 0px 0px 24px #00000052;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    overflow: auto;
    @media (max-width:1050px){
        padding: 20px;
        padding-top: 40px;
        height: 500px;
    }
  table{
      padding: 0px;
      margin: 0px;
    //   border:2px solid red;

      @media (max-width:1050px){
          width: 100vw;

      }
    //   th,tr,td{
    //       border:2px solid black;
    //   }
      :nth-child(1),:nth-child(2),:nth-child(3){
          font-size: unset;
          color: unset;
          padding: 0px;
          margin: 0px;
      }
     
      .device_dashboard_header{
          th{
              padding: 10px;
          }
          th div{
            width: 170px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f8f8f8 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 18px #02020252;
border-radius: 12px;
@media (max-width:600px){
    width: 120px;
    
}

          }
      }
      td{
          text-align: center;
          padding-top: 20px;
      }
  }
}
}

.devices_section-2{
    // border:2px solid black;
    padding: 30px;
    padding-top: 80px;
    @media (max-width:1050px){
        padding: 20px;
        padding-top: 40px;
        
    }
    
    
    .devices_seciton-2_heading{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .summary-dashboard{
        width: 260px;
height: 210px;
background: #fafafa59 0% 0% no-repeat;
box-shadow: 0px 0px 24px #00000052;
border-radius: 13px;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: space-around;

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    :nth-child(1){
      color: #353535;
    }
    :nth-child(2){
       color: #1D0C43;
       font-size: 26px;
    }
}
    }
}

}